<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Touristy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <header>
        <h3>Follow Blog</h3>
     </header>
     <!-- <section>
        <img>
     </section>
      -->
      <section>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec aliquam massa. 
        Cras quis augue fringilla, malesuada elit vel, tincidunt tortor. Aliquam tristique 
        rhoncus felis, non efficitur arcu hendrerit nec. Phasellus eget lacus et mauris blandit 
        euismod sit amet vitae tellus. Suspendisse commodo tristique ullamcorper. Cras quis 
        cursus risus, viverra molestie ex. Suspendisse efficitur nec elit in accumsan. Phasellus 
        cursus metus at nisi dignissim facilisis. Nulla euismod pellentesque odio ut eleifend. 
        Praesent vitae tempor velit. Praesent sit amet vulputate nisi.
      </section>

      <footer>
        <ul>
            <li><a href="#">Github</a></li>
            <li><a href="#">Github</a></li>
            <li><a href="#">Github</a></li>
            <li><a href="#">Github</a></li>
        </ul>
      </footer>
</body>

</html>
