<section>
      <div>
        <div id="ListOfBlogsHeader">
          <h1>List of Blogs</h1>
        </div>
        <div id="blogs">
          <ul>
            <li><a href="/trip/:id">Blog 1</li></a>
            <li><a href="/trip/:id"></a>Blog 2</li></a>
            <li><a href="/trip/:id"></a>Blog 3</li></a>
          </ul>
        </div>
      </div>
    </section>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
</body>

</html>