<section>
  <div>
    <div id="ListOfBlogsHeader">
      <h1>List of Blogs</h1>
    </div>
<section>

      <form>
        <div class="form-group">
          <label for="blog">Add Blog</label>
          <input type="text" class="form-control" id="inputBlog"
            placeholder="Name of Blog">
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
      </form>

    
      <div id="blogs">
        <ul>
          <li><a href="/blog/"/>Blog 1</li></a>
          <li><a href="/blog/"></a>Blog 2</li></a>
          <li><a href="/blog/"></a>Blog 3</li></a>
        </ul>
      </div>
  </div>
</section>

</body>

</html>