<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Touristy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <nav>
        <header>
          <h1>
            <a href="/">Touristy</a>
          </h1>
          
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Bio</a></li>
              <li><a href="#">Log Out</a></li>
          </ul>
      </nav>
  <section>
    <div>
        <div id="ListOfBlogsHeader">
          <h1>List of Blogs</h1>
        </div>
        <div id="blogs">
          <ul>
            <li>Blog 1</li>
            <li>Blog 2</li>
            <li>Blog 3</li>
          </ul>
        </div>
    </div>
  </section>

</body>

</html>
