<section>
  <div>
    <div id="ListOfBlogsHeader">
      <h1 id="blog-title">My Blogs</h1>
    </div>
<section>

      <form>
        <div class="form-group">
          <label for="blog">Add Blog</label>
          <input type="text" class="form-control" id="inputBlog"
            placeholder="Name of Blog">
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
      </form>

    
      <div id="blogs">
        <ul id="blogList">
          <li><a href="/blog">The Bahamas</li></a>
        </ul>
      </div>
  </div>
</section>
<script>
  window.onload = function() {
    var blogs = JSON.parse(localStorage.getItem('blogs')) || [];
    var blogList = document.getElementById('blogList');
    for (var i = 0; i < blogs.length; i++) {
      var newListItem = document.createElement('li');
      var newLink = document.createElement('a');
      newLink.href = "/blog";
      newLink.innerText = blogs[i];
      newListItem.appendChild(newLink);
      blogList.appendChild(newListItem);
    }
  }

  var form = document.querySelector('form');

  form.addEventListener('submit', function(event) {
    event.preventDefault();
    var input = document.getElementById('inputBlog');
    var blogs = JSON.parse(localStorage.getItem('blogs')) || [];
    blogs.push(input.value);
    localStorage.setItem('blogs', JSON.stringify(blogs));
    location.reload();
  });
</script>

</body>

</html>