    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>