    {{!-- <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section>

    <section> 
        <img>
    </section> --}}

    <h1>image page</h1>