:root {
  --dark-green: rgb(44, 49, 27);
  --mid-green: rgb(89, 99, 59);
  --light-green: rgb(154, 162, 67);
  --gray-green: rgb(134, 144, 135);
  --white: rgb(243, 243, 243);
}

body {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dark-green);
  line-height: 1.6;
}

.header {
  background-color: var(--gray-green);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

nav h1 {
  display: flex;
  justify-content: flex-start;
  color: var(--white);
  margin: 1rem;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
  display: flex;
  justify-content: flex-end;
  color: var(--white);
  margin: 10px 0;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a:hover {
  color: var(--white);
}

.btn-no-style {
  border: none;
  background: none;
  padding: 0;
  color: var(--white);
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.row {
  margin: 4rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.col-md-6 {
  background-color: var(--gray-green);
  color: var(--white);
  width: 90%;
  padding: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1 {
  margin-left: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  margin: 0 30px 20px 10px;
}

.form-group label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--white);
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #0000009d;
  border-radius: 5px;
  color: #333;
  background-color: var(--white);
}

.btn {
  cursor: pointer;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: var(--mid-green);
}

#blogs ul {
  border: 1px var(--white) solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 20px;
  padding: 30px;
}

/* post css */
header h3 {
  color: var(--white);
  margin: 0;
  font-size: 2em;
  margin: 20px;
}

main {
  flex: 1 0 auto;
}

section {
  padding: 20px;
  color: var(--white);
}

h3 {
  color: var(--white);
  padding: 20px;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#post-section {
  border: 1px var(--white) solid;
  border-radius: 20px;
}

#image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  margin: 0;
  color: var(--white);
  font-size: 30px;
  margin-top: 20px;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: var(--gray-green);
  color: var(--white);
  padding: 20px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  padding-top: 15px;
}

footer ul li {
  display: inline;
  margin: 0 30px;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer a:hover {
  color: var(--light-green);
}

/* Media query for larger screens */
@media (min-width: 768px) {
  nav {
    flex-direction: row;

    justify-content: space-between;
    padding: 10px 50px;
  }

  nav h1 {
    margin-bottom: 0;
  }

  nav a {
    margin: 0 0 0 20px;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .col-md-6 {
    width: 45%;
  }

  .btn {
    width: auto;
  }

  #map {
    height: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
